
//header 
$button-color: rgb(27, 36, 216);
$header-bg-color:hsl(241, 88%, 20%);
$header-text: #000000;
$header-font-weight:700;
$jumbo-padding:20px;
//footer
$footer-bg-color:linear-gradient(45deg,#00ae7b,#0081bf);
$footer-font-size:16px;
$color:#000000;

// navigations
$nav-bgcolor: #22356a;
$navitem-tab-color:#d0dddd;
$nav-text:#ffffff;
$nav-font-style:20px;

//dropdown  
$primary-btn-color:#6c757d;

//buttons
$btn-color: #fff;
    $btn-background-color: #007bff;
   $btn-border-color: #0e5097;
    $button1:#008CBA;
    $button2:rgb(0, 186, 186);
    $button3:rgb(9, 33, 41);

    //carousell

$breadcrumb : #cc0033;
$breadcrumb-focus : #00cccc;





